# Python
**/__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
__pycache__/
*.pyc
.ruff_cache/
build/
dist/

# Virtual environment
.venv/

# Testing
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data artifacts (large files)
*.npz
*.pkl
*.pt
*.ckpt

# Jupyter
.ipynb_checkpoints/

# prelim figures
figures/

# dataset
labels/

# results
results/

# tex paper
paper/

# old datsets
old_data/

data/

# basic tests
tests/
